.icon {
    display: flex;
    align-items: center;
    max-width: 200px;
    box-sizing: border-box;
}

.font-icon-icon {
    width: 19px !important;
    height: 19px !important;
    color: #aaaaaa;
}

.font-icon {
    padding: 4px;
    cursor: pointer;
    margin: 0px 1px;
}

.icon-img {
    padding: 3px;
    cursor: pointer;
    margin: 0px 1px;
}

.icon-img-img {
    width: 19px !important;
    height: 19px !important;
    color: #aaaaaa;
}

.font-icon:hover .font-icon-icon {
    color: rgb(148, 146, 146);
}