.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*position: relative;*/
    /*overflow-x: hidden;*/
    z-index: 1;
    transition: all 0.2s ease;
}

.field-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}

.field-info>h2 {
    font-size: 14px;
    font-weight: 450;
    color: #cecece;
}

.field-info:hover h2 {
    color: #ffffff;
}

.field-info:hover+.field-elements {
    display: flex;
    flex-direction: column;
    transform: translateY(0);
}

.field-info-icon {
    color: #d8d7d7 !important;
    cursor: pointer !important;
    transition: 0.2s all ease-in !important;
    border-radius: 50%;
    width: 24px !important;
    height: 24px !important;
    padding: 5px !important;
}

.field-info-icon:hover {
    color: #ffffff !important;
    transform: rotate(-180deg) !important;
    background-color: #292828;
}

.field-elements {
    /*display: flex;*/
    width: 100%;
    /*position: absolute;*/
    /*bottom: 0;*/
    display: none;
    pointer-events: none;
    transform: translateY(-100%);
    transition: 1s all ease-in-out;
    /*overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;*/
}