.sidebar {
    display: flex;
    flex: 0.23;
    background-color: #2f3136;
    font-size: 14px;
}

.sidebar-options {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    padding: 25px 6px;
    background-color: #202225;
    justify-content: space-between;
    align-items: center;
}

.sidebar-groups-hr {
    border-color: #2a2c30;
    width: 100%;
    margin-bottom: 5px;
}

.sidebar-groups {
    display: flex;
    flex-direction: column;
    /*padding: 6px 5px;*/
    /*width: 100%;*/
    flex: 0.77;
}

.sidebar-groups-user {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #27292c;
    justify-content: space-around;
    flex: 0.1;
    padding: 0px 3px;
}

.sidebar-groups-user-content {
    display: flex;
    flex-direction: column;
    color: #fff;
    /*align-items: center;*/
    justify-content: center;
    margin-right: 20px;
}

.sidebar-groups-user-content>h2 {
    font-size: 14px;
}

.sidebar-groups-user-content>p {
    font-size: 12px;
    font-weight: 500;
}

.sidebar-groups-user-slack {
    width: 28px !important;
    height: 28px !important;
    /*margin-left: 10px;*/
}

.sidebar-groups-user-icon {
    width: 20px !important;
    height: 20px !important;
    /*margin: 0 3px;*/
    color: #dcddde;
}

.sidebar-groups-user-icondiv {
    padding: 3px;
    /*margi*/
}

.sidebar-groups-user-icons {
    display: flex;
    align-items: center;
}

.sidebar-groups-bottom:nth-last-child() {
    flex: 1 1 100%;
}

.sidebar-groups-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.07;
    padding: 5px;
}

.sidebar-groups-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    flex: 0.93;
    width: 100%;
    padding: 5px;
}

.sidebar-groups-searchbar {
    display: flex;
    width: 100%;
    /*height: 3rem;*/
    align-items: center;
    background-color: #202225;
    border-radius: 10px;
    padding: 6px 10px;
}

.sidebar-groups-searchicon {
    color: #72767d;
}

.sidebar-groups-searchbar>input {
    display: flex;
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
    text-decoration: none;
    margin-left: 6px;
    color: #81858a;
    font-weight: 470;
    /*pad*/
}

.sidebar-groups-searchbar>input ::placeholder {
    color: #5e6166;
}

.sidebar-options-features {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-options-top {
    display: flex;
    flex-direction: column;
    height: 53%;
    align-items: center;
    justify-content: space-between;
}

.sidebar-options-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    justify-content: space-around;
}

.sidebar-options-user-avatar {
    color: rgb(102, 102, 102) !important;
}

.sidebar-options-icons {
    width: 24px !important;
    height: 24px !important;
    color: rgb(109, 108, 108) !important;
    cursor: pointer !important;
}

.sidebar-options-icons :hover {
    color: rgba(219, 219, 219, 0.918);
}