.sidebar {
    display: flex;
    flex: 0.23;
    background-color: #2f3136;
    font-size: 14px;
}

.sidebar-options {
    display: flex;
    flex-direction: column;
    flex: 0.22;
    padding: 25px 6px;
    background-color: #202225;
    justify-content: space-between;
    align-items: center;
}

.sidebar-groups-hr {
    border-color: #222427;
    width: 100%;
    margin-bottom: 5px;
}

.sidebar-groups {
    display: flex;
    flex-direction: column;
    padding: 6px 5px;
    flex: 0.78;
}

.sidebar-groups-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.07;
    padding: 5px;
}

.sidebar-groups-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    flex: 0.93;
    width: 100%;
    padding: 5px;
}

.sidebar-groups-searchbar {
    display: flex;
    width: 100%;
    /*height: 3rem;*/
    align-items: center;
    background-color: #202225;
    border-radius: 10px;
    padding: 6px 10px;
}

.sidebar-groups-searchicon {
    color: #72767d;
}

.sidebar-groups-searchbar>input {
    display: flex;
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
    text-decoration: none;
    margin-left: 6px;
    color: #81858a;
    font-weight: 470;
    /*pad*/
}

.sidebar-groups-searchbar>input ::placeholder {
    color: #5e6166;
}

.sidebar-options-features {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-options-top {
    display: flex;
    flex-direction: column;
    height: 53%;
    align-items: center;
    justify-content: space-between;
}

.sidebar-options-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    justify-content: space-around;
}

.sidebar-options-user-avatar {
    color: rgb(102, 102, 102) !important;
}

.sidebar-options-icons {
    width: 22px !important;
    height: 22px !important;
    color: rgb(109, 108, 108) !important;
    cursor: pointer !important;
}

.sidebar-options-icons :hover {
    color: rgba(92, 91, 91, 0.699);
}